<nav class="blue-grey darken-3">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">
        <!-- <img src="/images/logo.png" alt="Ontrack App Logo" style="height: 40px; margin-right: 10px;"> -->
        SIT725 Course App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Getting Graphical</a></li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">Weekly Learning
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#">Week 1 - Introduction</a></li>
    <li><a href="#">Week 2 - Rest API and Express</a></li>
    <li><a href="#">Week 3 - Bootstrapping Express App</a></li>
  </ul>