<!-- Main Content -->
<div class="col s9">
    <h4><b>Welcome to the Express Web App</b></h4>
    <p>This app allows you to manage course and student data dynamically.</p>
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h5><b>Focus of the Weeks</b></h5></span>
        <ul class="collection">
            <li class="collection-item">Week-1: Introduction</li>
            <li class="collection-item">Week-2: Rest API and Express</li>
            <li class="collection-item">Week-3: This week focuses on enhancing graphical aspects and developing robust web applications.</li>
            <li class="collection-item"> Week-4: This week focuses on adding a database</li>
            <li class="collection-item">Week-5: This week focuses on structured design patterns like MVC in software development, enhancing maintainability, scalability, and collaboration.</li>
        </ul>
      </div>
      <div class="card-action">
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Course Info</a>

      </div>
    </div>

    <!-- Add Student Button -->
    <button class="btn blue-grey darken-1"><a href="/student/add-form">Add Student</a></button>

    <!--  -->

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Course Description</h4>
        <p>SIT725 focuses on web application development with modern frameworks like Materialize CSS.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
</div>