<footer class="page-footer blue-grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5 class="white-text">SIT725 - Web Application Development</h5>
          <p class="grey-text text-lighten-4">Enhancing graphical design and building robust web applications.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2024 SIT725 Course
      </div>
    </div>
</footer>
  