<div class="col s3 grey lighten-2">
    <h5>Go Through</h5>
    <ul class="collection">
      <li class="collection-item"><a href="/course">Course Details</a></li>
      <li class="collection-item"><a href="/student">Student Details</a></li>
      <li class="collection-item"><a href="/resources">Resources</a></li>
    </ul>
</div>
  